# ignore the following sub folders
/b320
/fdrel_225
/ecen160/docs
/ecen160/notes
/ecen160/presentations
/ecen160/screenshots
*/downloads

# ignore sftp-config
*.json

# ignore the following file types
*.doc
*.docx
*.jpeg
*.JPEG
*.jpg
*.JPG
*.mp4
*.pdf
*.png
*.PNG
*.psd
*.xls
*.xlsx
*.zip
*.tmp
