#grid_second {
   display: grid;
   grid-gap: 1rem;
   grid-auto-rows: minmax(100px, auto);
}
#grid_second .box9 {
   display: flex;
   flex-direction: column;
}
/* .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {} */
@media screen and (min-width: 600px) {
   #grid_second {
      grid-template-columns: 50%;
      grid-template-areas: 'box1 box1' 'box1 box1' 'box2 box3' 'box4 box5' 'box6 box7' 'box8 box9';
   }
   #grid_second .box9 {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }
   .box1 {
      grid-area: box1;
   }
   .box2 {
      grid-area: box2;
   }
   .box3 {
      grid-area: box3;
   }
   .box4 {
      grid-area: box4;
   }
   .box5 {
      grid-area: box5;
   }
   .box6 {
      grid-area: box6;
   }
   .box7 {
      grid-area: box7;
   }
   .box8 {
      grid-area: box8;
   }
   .box9 {
      grid-area: box9;
   }
}
@media screen and (min-width: 1200px) {
   #grid_second {
      grid-template-columns: 33.3333%;
      display: grid;
      grid-template-areas: 'box1 box1 box1' 'box1 box1 box1' 'box2 box3 box4' 'box5 box6 box7' 'box8 box9 box9';
   }
   #grid_second .box9 {
      flex-wrap: initial; /* prevent wrapping */
   }
}
