/********************************** section 1 *********************************/
/* Naoya Yuda' Contribution */
   #flex_first {
   display: flex;
   flex-direction: column;
   justify-content: center;
   }

   #flex_first.blue_rounded{
   margin: 0 auto;
   margin-top:1rem;
   }

   .center_list{
   margin: 0 auto;
   }
/* End Naoya Yuda' Contribution */
/********************************** section 1 *********************************/
/********************************** end section 2 *****************************/
/* Naoya Yuda' Contribution */
.myForm {
display: flex;
flex-direction: column;
}

#flex_second_wrapper{
display: flex;
flex-direction: column;
}

#name {
display: flex;
width: 100%;
}

#address {
display: flex;
width: 100%;
}

#phone {
display: flex;
width: 100%;
}

#email {
display: flex;
width: 100%;
}

#color {
display: flex;
width: 100%;
}

#hair {
display: flex;
flex-direction: column;
}

#cookie {
display: flex;
flex-direction: column;
}

.form-row .white_rounded{
display: flex;
width: 100%;
}
/* End Naoya Yuda' Contribution */
/********************************** end section 2 *****************************/
/********************************** section 3 *********************************/
/* Naoya Yuda' Contribution */
#grid_first{
display: grid;
/* grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;*/
grid-template-columns: repeat(4, minmax(250px, 1fr));
}
/* End Naoya Yuda' Contribution */
/********************************** end section 3 *****************************/
/********************************** section 4 *********************************/
/* [student name obfuscated]'s Contribution */
#grid_second {
   display: grid;
   grid-gap: 1rem;
   grid-auto-rows: minmax(100px, auto);
}
#grid_second .box9 {
   display: flex;
   flex-direction: column;
}
/* .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9 {} */
@media screen and (min-width: 600px) {
   #grid_second {
      grid-template-columns: 50%;
      grid-template-areas: 'box1 box1' 'box1 box1' 'box2 box3' 'box4 box5' 'box6 box7' 'box8 box9';
   }
   #grid_second .box9 {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }
   .box1 {
      grid-area: box1;
   }
   .box2 {
      grid-area: box2;
   }
   .box3 {
      grid-area: box3;
   }
   .box4 {
      grid-area: box4;
   }
   .box5 {
      grid-area: box5;
   }
   .box6 {
      grid-area: box6;
   }
   .box7 {
      grid-area: box7;
   }
   .box8 {
      grid-area: box8;
   }
   .box9 {
      grid-area: box9;
   }
}
@media screen and (min-width: 1200px) {
   #grid_second {
      grid-template-columns: 33.3333%;
      display: grid;
      grid-template-areas: 'box1 box1 box1' 'box1 box1 box1' 'box2 box3 box4' 'box5 box6 box7' 'box8 box9 box9';
   }
   #grid_second .box9 {
      flex-wrap: initial; /* prevent wrapping */
   }
}
/* End [student name obfuscated]'s Contribution */
/********************************** end section 4 *****************************/
