  <%- include('../partials/page-head.ejs') %>
  <title><%= title %></title>
</head>
<body>
  <div class="row">
    <div class="column large-12">
      <h1>Raspberry Pi Garage Door Opener</h1>
      <a href="./">Home</a>
    </div>
  </div>
  <script>
    console.log(window.location);
  </script>
</body>
</html>
