  <%- include('../partials/page-head.ejs') %>
  <title><%= title %></title>
</head>
<body>
  <div class="bg">
    <!------------------------------- navigation ------------------------------->
    <div class="row">
      <div class="column large-12">
        <h1>Raspberry Pi<br />Garage Door Opener</h1>
        <!-- <p>View event <a href="./log">Log</a>.</p> -->
      </div><!-- /column -->
    </div><!-- /row -->
    <!------------------------------- end navigation --------------------------->
  </div>
  <!------------------------------- header ------------------------------------->
  <div class="row margin-2">
    <div class="columns">
      <h2>Event Log</h2>
    </div><!-- /column -->
  </div><!-- /row -->
  <!------------------------------- end header --------------------------------->
  <!------------------------------- log data ----------------------------------->
  <div class="row margin-2">
    <div class="columns">
      <p><%= log_data %></p>
    </div><!-- /column -->
  </div><!-- /row -->
  <!------------------------------- end log data ------------------------------->
  <!------------------------------- home button -------------------------------->
  <div class="row margin-2 button">
    <div class="columns">
      <button id="js-navigate" data-url="<%= button_route %>"><strong>HOME</strong></button>
    </div><!-- /column -->
  </div><!-- /row -->
  <!------------------------------- end home button ---------------------------->
  <script src="../../assets/js/button-route.js"></script>
</body>
</html>
